@charset "utf-8";

body{
	background: #FFFFCC;
	font-family: cursive;
}

#container{
	text-align:center;
}

#header {
	line-height:50px;
	background: #CCFFCC; /*背景の色*/
	color: #FFCCFF; /*文字の色*/
}

#content{

}

#footer {
	background-color:#CCFFCC; 
}
