@charset "utf-8";

body{
	/*background: #FFFFCC;*/
	background-image: url(http://www.wakyoku.com/yoshikawakana/_src/sc605/kana_haikei02.jpg);
}

#container{
	text-align:center;
}

#header {
	line-height:50px;
	color: #FA8072; /*文字の色*/
}

#content{
	font-family: cursive;
}

#right {
	float:right;
	width:200px;
	background-color:#CCFFCC;
}

#footer {
	color: #FA8072; /*文字の色 */
}
